html, body {
    height: 100%;
}

body {
    color: gray;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-top: 30px;
}

h4 {
    margin-top: 15px;
}

ul.breadcrum {
    border: 1px solid #eaeaea;
    padding: 5px 15px;
}
ul.breadcrum li {
    list-style: none;
    display: inline;
}
ul.breadcrum li+li:before {
    content: "/ "
}

div.category-card {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #eaeaea;
    text-align: center;
}

.category-container a {
    color: inherit;
}

.category-card:hover {
    background: #f9f9f9;
}

.category-name {
    font-size: 1em;
    margin: 10px;
}

.category-name, .price {

}

.category-container .price {
    font-size: 1.5em;
    font-weight: bold;
    color: #009a44;
}

.category-container a:hover {
    text-decoration: none;
}

.listing-container {
    margin-bottom: 50px;
}

.listing-container a:link, .listing-container a:visited {
    text-decoration: none;
    color:black;
}

.listing-container a:hover {
    background: gray;
}

div.listing-card {
    /* margin-bottom: 15px; */
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}

.listing-description {
    font-size: .9rem;
}

.listing-detail-container .profile-image {
    display:inline-block;
    /* vertical-align: middle; */
    margin-right: 10px;
}
.listing-detail-container .seller-info {
    display:inline-block;
}

.listing-detail-container {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #eaeaea;
}

.container-box {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #eaeaea;
}

.green-box {
    border: 1px solid green;
    border-radius: 5px;
}
.bg-gray {
    background: #f9f9f9;
}

.comment-submit-container {
    margin-top: 15px;
}

.comment-card {
    border: 1px solid #eaeaea;
    padding: 15px;
    margin: 5px 0;
}

.comment-card .profile-image {
    display:inline-block;
}

form textarea {
    width:100%;
}

.listing-table th {
    width: 25%;
}

footer {
    flex-shrink: 0;
}

.page-footer {
    color:white;
    margin-top:30px;
    background: #858585;
}

.page-footer a {
    color:white;
}

.badge-seller {
    background: #048dc1;
    color:white;
    padding: 5px;
    display: inline;
    margin: 0 10px;
    border-radius: 5px;
}

.listing-cat-image img {
    height: 200px;
}

.listing-images img {
    margin: 10px;
}

.listing-price span {
    font-size: 3em;
    color: green;
    font-weight: bolder;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.listing-category-container {
    background: #f5f5f5;
    border: 1px solid #efefef;
    padding: 15px;
}

.listing-category-container img {
    margin: 10px;
}

header {
    /* background:#f3f3f3; */
    -webkit-box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
}

.navbar { 
    padding: 0
}

ul.cat-menu {
    list-style: none;
    padding-left:0;
}
.cat-menu-item {
    display: inline-block;
}
.dropzone {
    margin-bottom: 15px;
}

.comment-card .profile-image {
    display: inline-block;
    vertical-align: middle;
}

.profile-image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.comment-card .seller-info {
    display:inline-block;
    height: 40px;
    line-height:40px;
}

textarea.comment-body {
    height: 20px;
}

.container-area {
    margin: 30px 0;
}

/* .navbar .profile-image img {
    width: 20px;
    height: 20px;
} */

footer ul {
    list-style-type: none;
    /* text-align: left; */
}

.footer-sub {
    margin-top: 30px;
}