<footer class="page-footer font-small blue">
  <div class="container">
  <div class="footer-sub">
    <div class="row text-center">
      <div class="col-md-4">
        <ul>
          <li>Buy Apple iPhone</li>
          <li>Buy Samsung Galaxy</li>
          <li>Buy Google Pixel</li>
          <li>Buy Phones</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>How To Sell</li>
          <li>Buying Guide</li>
          <li>FAQ</li>
          <li>Help</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Policies, Fees</li>
          <li>Terms of Use</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">©2020 Created By:
    <a href="https://github.com/jeffreytu/drg-market">Jeffrey Tu</a>
  </div>
</div>
</footer>