<header>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'shop-home' %}">Drg Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link" href="" id="navbarProfileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="profile-image">
              {% if user.profile_image %}
                <img src="{{user.profile_image.url}}"> {{user.username}}
              {% else %}
                <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
              </div>
              {% endif %}
              <div class="profile-name">{{user.username}}</div>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarProfileMenu">
                <li class="dropdown-item"><a href="{% url 'user-home' %}">Dashboard</a></li>
                <li class="dropdown-item"><a href="{% url 'user-profile' %}">Settings</a></li>
                <li class="dropdown-item"><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            {% else %}
              <li class="nav-item link-item"><a href="{% url 'login' %}">Login</a></li>
              <li class="nav-item link-item"><a href="{% url 'signup' %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% include "menu.html" %}
  </div>
</header>