{% load mptt_tags %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'shop-home' %}">Drg Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Shop</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% recursetree menu_categories %}
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="{% url 'product-category' node.slug %}">{{ node.name }}</a>
                  {% if not node.is_leaf_node %}
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'product-category' node.slug %}">{{children}}</a></li>
                  </ul>
                  {% endif %}
                </li>
              {% endrecursetree %}
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create-listing' %}">Sell</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarProfileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.username}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarProfileMenu">
                <li><a class="dropdown-item" href="{% url 'user-profile' %}">Dashboard</a></li>
                <li><a class="dropdown-item" href="{% url 'user-home' %}">Settings</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            {% else %}
              <a href="{% url 'login' %}">login</a> |
              <a href="{% url 'signup' %}">signup</a>
            {% endif %}
          </ul>
        </div>
      </nav>
      </div>
    </div>
  </div>
</header>