{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">
            <div>
                <h4>{{listing.title}}</h4>
                <p>Sold by: {{listing.seller}}</p>
                <p>{{listing.description}}</p>
                <p>${{listing.price}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="">
            <h5>Your Shipping Address</h5>
            {% if user_address %}
            <p>{{user_address.street1}}</p>
            <p>{{user_address.street2}}</p>
            <p>{{user_address.city}}, {{user_address.state}} {{user_address.zipcode}}</p>
            <p><a href="{% url 'user-profile' %}">Change Address</a></p>
            {% else %}
                <p>Shipping address must be set to calculate final price. <a href="">Set Address</a></p>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h5>Payment Breakdown</h5>
            <p>Payment to Seller</p>
            <p>Swappa Sale Fee</p>
            <p>Shipping Costs</p>
            <p>Taxes</p>
            <hr>
            <p>Total</p>
        </div>
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        {{form_listing.as_p}}
        <button class="btn btn-success" type="submit">Pay Now using PayPal</button>
    </form>

{% endblock content %}