{% extends 'base.html' %}
{% load mptt_tags %}

{% block content %}

    <ul class="breadcrum">
        <li><a href="{% url 'shop-home' %}">Home</a></li>
        {% for category in breadcrum %}
            <li><a href="{% url 'product-category' category.slug %}">{{category.name}}</a></li>
        {% endfor %}
    </ul>

    <h4>Shop</h4>
    <div class="row category-container">
        {% recursetree categories %}
            <div class="col-md-6">
                <a href="{% url 'product-category' node.slug %}">
                    <div class="category-card">
                        {{ node.name }}
                    </div>
                </a>
            </div>
        {% endrecursetree %}
    </ul>
    </div>

    <h4>Listings</h4>
    <div class="row listing-container">
    {% for listing in listings %}
        {% if listing.status != 4 %}
            <a href="{% url 'product-listing' listing.id %}"><div class="listing-card">{{listing.seller}} - {{listing}}</div></a>
        {% endif %}
    {% endfor %}
    </div>

{% endblock content %}