{% extends 'base.html' %}
{% load mptt_tags %}

{% block content %}

<style>
    ul.breadcrum li {
        list-style: none;
        display: inline;
    }
    ul.breadcrum li+li:before {
        content: ">"
    }
</style>
    <ul class="breadcrum">
        {% for category in breadcrum %}
            <li><a href="{% url 'product-category' category.slug %}">{{category.name}}</a></li>
        {% endfor %}

        {% for listing in listings %}
            {% if listing.status != 4 %}
                <p><a href="{% url 'product-listing' listing.id %}">{{listing.seller}} - {{listing}}</a></p>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock content %}