{% extends 'base.html' %}
{% load static %}

{% block content %}

    <ul class="breadcrum">
        <li><a href="{% url 'shop-home' %}">Home</a></li>
        {% for category in breadcrum %}
            <li><a href="{% url 'product-category' category.slug %}">{{category.name}}</a></li>
        {% endfor %}
        <li>{% if listing.listing_code %} {{listing.listing_code}} {% else %}{{listing.id}}{% endif %}</li>
    </ul>

        {% if user.id == listing.seller.id and listing.status != 4 %}
        <div class="listing-status-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="statuses">
                        {% if listing.status == 2 %}
                            <div class="status-pending"><span><i class="fas fa-exclamation-circle fa-lg"></i> Listing pending approval</span></div>
                        {% elif listing.status == 1 %}
                            <div class="status-approved"><span><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Approved</span></div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{% url 'edit-listing' listing.id %}">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row container-area">
            <div class="col-md-6">
                <div class="listing-cat-image text-center">
                    <img src="{{listing.category.image.url}}">
                </div>
                {% if gallery %}
                    <div class="listing-images gapt-30">
                        {% for imagelist in gallery|slice:"10" %}
                            <div class="image-thumb" style="background:url({{imagelist.image.url}}) 50% 50% no-repeat;background-size:cover;">
                                <a href="{{imagelist.image.url}}"></a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="gapt-30 text-center">
                        <span>No additional images available.</span>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h5>{{ listing.category }}</h5>
                <p>Sold By: <a href="{% url 'view-seller' listing.seller.username %}">{{listing.seller}}</a></p>
                <div class="gap-30">{{listing.category.description|linebreaks}}</div>
                <div class="listing-price gap-30"><span>${{listing.price}}</span></div>
                {% if listing.status != 4 %}
                    {% if listing.status == 2 %}
                        <div><button class="btn btn-secondary btn-lg">Unavailable</button></div>
                    {% else %}
                        <div><a href="{% url 'buy-listing' listing.id %}"><button class="btn btn-success btn-lg btn-block">Buy Now</button></a></div>
                    {% endif %}
                {% else %}
                    <div><button class="btn btn-secondary btn-lg">Sold</button></div>
                {% endif %}
            </div>
        </div>
        <hr>
        <h5>Additional Details</h5>
        <div class="row container-area">
            <div class="col-md-6">
                <strong>Seller Description</strong>
                <div>{{listing.description|linebreaks}}</div>
            </div>
            <div class="col-md-6">
                <div class="">
                    {% comment %} {% if listing.seller.profile_image %}
                        <div class="profile-image"><img src="{{listing.seller.profile_image.url}}"></div>
                    {% else %}
                        <div class="profile-image"><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i></div>
                    {% endif %} {% endcomment %}
                    <div class="seller-info">
                        {% comment %} {% if listing.location %}
                         | {{listing.location}}
                        {% endif %} {% endcomment %}
                    </div>
                </div>
                {% comment %} <strong>{{listing.title}}</strong>
                <div>{{listing.description|linebreaks}}</div> {% endcomment %}
            </div>
        </div>
    <hr>
    <h5>Comments</h5>
    <div class="row">
        <div class="col-md-6">
            <div class="comment-container">
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment-card">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="seller-info">
                                    {% if listing.seller.profile_image %}
                                        <div class="profile-image"><img src="{{listing.seller.profile_image.url}}"></div>
                                    {% else %}
                                        <div class="profile-image"><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i></div>
                                    {% endif %}
                                    <strong>{{ comment.author }}</strong>
                                    {% if comment.author == listing.seller %}
                                        <div class="badge-seller">Seller</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 text-right">{{ comment.created_on }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">{{ comment.body | linebreaks }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <div class="col-md-12">
                        <span>No comments</span>
                    </div>
            {% endif %}
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    
    {% if listing.status == 1 %}
    <div class="comment-submit-container gapt-30">
      <strong>Post Comment</strong>
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="comment-body"> 
                        {% comment %} <label>Your comment</label>  {% endcomment %}
                        {{ form.body }} 
                    </div> 
                    <button type="submit" class="btn btn-success">Submit Comment</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="container-box bg-gray">
                    <p>Comments on this page are public and visible to everyone.</p>
                    <p>After purchasing, you’ll gain access to a private page where you and the seller can communicate and track your item’s shipment.</p>
                </div>
            </div>
            {% else %}
                <div class="col-md-12">
                    <p>You must be signed in to comment. Login or Signup</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

{% endblock content %}