{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if user.is_authenticated %}
        <form method="POST" action="" class="post-form sell-form" enctype="multipart/form-data" name="sell-form">
            {% csrf_token %}
            <table class="table table-hover listing-form">
            {{ form|crispy }}
            </table>
            <div class="dropzone" id="drop_gallery" name="dropzone_gallery">
            </div>
            {% comment %} <div id="dropzonePreview"></div> {% endcomment %}
            <button type="submit" id="sell-submit" class="save btn btn-success">Create Listing</button>
        </form>
        {% if form.error %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>show list of current top products for sale by other buyers</p>
        <p>ready to sell? login or register now</p>
    {% endif %}

{% endblock content %}