{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if categories %}
        {% load mptt_tags %}
        <div class="row gapt-30">
            <div class="col-12 ">
                <div class="headline text-center">
                    <h4>The Phone Marketplace</h4>
                    <h6>Sell your old phone and upgrade to a newer pre-owned.</h6>
                </div>
            </div>
        </div>

        <div class="row category-container gapt-30">
            {% recursetree categories %}
                <div class="col-md-4">
                    <a href="{% url 'product-category' node.slug %}">
                        <div class="category-card">
                            {% if node.image %}
                                <img src="{{ node.image.url }}" height="140px">
                            {% endif %}
                            <div class="category-name">{{ node.name }}</div>
                            {% if node.is_leaf_node and node.listing_count > 0 %}
                            <div class="price">${{node.avg_price|floatformat:0}}+</div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endrecursetree %}
        </div>
    {% endif %}

    {% comment %} <div class="row">
        <div class="col-md-12">
            <div class="hero-pixel4a">
                <img src="{% static 'images/iphonese.png' %}" height="500px">
            </div>
            <div class="hero-text">
                <h4>Pixel 4a vs. iPhone SE</h4>
                <h6>The affordable mid-range battle</h6>
            </div>
            <div class="hero-iphonese">
            </div>
        </div>
    </div> {% endcomment %}

{% endblock %}