{% extends 'base.html' %}

{% block content %}
        <h4>For Sale</h4>
        {% for listing in listings %}
            {% if listing.status == 1 %}
            <p>
                <a href="{% url 'product-listing' listing.id %}">{{ listing }}</a>
                <span> | <a href="{% url 'edit-listing' listing.id %}">edit</a></span>
                <span> | <a href="{% url 'remove-listing' listing.id %}">remove</a></span>

            </p>
            {% endif %}
        {% endfor %}
        <h4>Pending</h4>
        {% for listing in listings %}
            {% if listing.status == 2 %}
            <p>
                <a href="{% url 'product-listing' listing.id %}">{{ listing }}</a>
                <span> | <a href="{% url 'edit-listing' listing.id %}">edit</a></span>
                <span> | <a href="{% url 'remove-listing' listing.id %}">remove</a></span>

            </p>
            {% endif %}
        {% endfor %}
        <h4>Sold</h4>
        {% for listing in listings %}
            {% if listing.status == 4 %}
                <p><a href="{% url 'product-listing' listing.id %}">{{ listing }}</a></p>
            {% endif %}
        {% endfor %}

        <h4>Purchased</h4>
        {% for transaction in transactions %}
            <p><a href="{% url 'product-listing' transaction.listing.id %}">{{ transaction.listing }}</a></p>
        {% endfor %}

    <h5>Browse other listings:</h5>
    {% for product in products %}
        <p><a href="{% url 'product-listing' product.id %}">{{ product }}</a></p>
    {% endfor %}    
{% endblock content %}