{% extends 'base.html' %}

{% block content %}
    <h4>For Sale</h4>
    <table class="table listing-table table-sm">
        <thead class="thead-light">
            <tr>
            <th style="width:50%">Listing</th>
            <th style="width:40%">Date Created</th>
            <th style="width:5%"></th>
            <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
                {% if listing.status == 1 %}
                    <tr>
                        <td><a href="{% url 'product-listing' listing.id %}">{{ listing }}</a></td>
                        <td>{{ listing.date_created }}</td>
                        <td><a href="{% url 'edit-listing' listing.id %}"><i class="far fa-edit"></i></a></td>
                        <td><a href="{% url 'remove-listing' listing.id %}"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <h4>Pending</h4>
    <table class="table listing-table table-sm">
        <thead class="thead-light">
            <tr>
                <th style="width:50%">Listing</th>
                <th style="width:40%">Date Created</th>
                <th style="width:5%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
                {% if listing.status == 2 %}
                <tr>
                    <td><a href="{% url 'product-listing' listing.id %}">{{ listing }}</a></td>
                    <td>{{ listing.date_created }}</td>
                    <td><a href="{% url 'edit-listing' listing.id %}"><i class="far fa-edit"></i></a></td>
                    <td><a href="{% url 'remove-listing' listing.id %}"><i class="far fa-trash-alt"></i></a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h4>Sold</h4>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th style="width:50%">Listing</th>
                <th style="width:40%">Date Sold</th>
                <th style="width:5%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in sold %}
                {% if transaction.listing.status == 4 %}
                <tr>
                    <td><a href="{% url 'product-listing' transaction.listing.id %}">{{ transaction.listing }}</a></td>
                    <td>{{ transaction.date }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h4>Purchased</h4>
    {% if purchased %}
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th style="width:50%">Listing</th>
                    <th style="width:40%">Date Purchased</th>
                    <th style="width:5%"></th>
                    <th style="width:5%"></th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in purchased %}
                <tr>
                    <td><a href="{% url 'product-listing' transaction.listing.id %}">{{ transaction.listing }}</a></td>
                    <td>{{ transaction.date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p><span>No recent purchases</span></p>
    {% endif %}

{% endblock content %}